@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background: #ffffff;
}

.landing-page-bg {
  /* background-image: url("../img/plateLeaf.jpg"); */
  /* background-size: cover; */
  width: auto;
  height: 100%;
}

#landing-page-navbar {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}

#filter-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 3%;
}
/* .landing-page-navbar div {
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(10px);
  padding: 3%;
  border-radius: 10px;
  border: 1px solid rgba(43, 43, 43, 0.568);
} */

#content-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 3%;
}

.card {
  background: #ffffff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 5%;
  grid-row-gap: 2.5%;
  padding: 10px;
  border: white solid;
  box-shadow: 1px 3px 3px #c8c8c8;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.card img {
  border-radius: 10px;
  align-self: center;
}

.card-headers {
  display: flex;
  /* flex-direction: row; */
  /* align-items: baseline; */
  /* justify-content: space-between; */
}

.card-headers h3 {
  color: #555555;
}

.load-more {
  position: absolute;
  left: 50%;
  text-decoration: underline;
  color: black;
  cursor: pointer;
  /* margin: 5%; */
}

.card-headers img {
  width: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  background: #fbfbfb;
  padding: 0 5%;
  border-radius: 10px;
}

.card-content div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-footer {
  grid-column: 1/-1;
  background: #fbfbfb;
  padding: 0 5%;
  border-radius: 10px;
}

.card-footer .available {
  color: white;
  background: green;
  padding: 10px;
  border-radius: 10px;
}

.card-footer .unavailable {
  color: white;
  background: #cb2424;
  padding: 10px;
  border-radius: 10px;
}

.tops {
  position: fixed;
  right: 10;
  bottom: 10;
  padding: 15px;
  background: #ffd800;
  border-radius: 300px;
}

.backs {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

input {
  background: #d8d8d8;
  border: solid #d8d8d8 1px;
  border-radius: 7px;
  padding: 2.5%;
}

input:focus {
  background: #d8d8d8;
}

.search-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (min-width: 1200px) {
  body {
    padding: 0 10%;
  }

  .search-options {
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    align-items: left;
  }
  #filter-options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #content-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .card:hover {
    box-shadow: 1px 6px 6px #c8c8c8;
  }

  input {
    background: #d8d8d8;
    border: solid #d8d8d8 1px;
    border-radius: 13px;
    padding: 10%;
  }

  input:focus {
    background: #d8d8d8;
  }
}
