@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

body {
  font-family: "Lato", sans-serif;
}

.landing-page-bg {
  background-image: url("../img/plateLeaf.jpg");
  /* background-size: cover; */
  width: auto;
  height: 100%;
}

.landing-page-navbar {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}

.landing-page-navbar div {
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(10px);
  padding: 3%;
  border-radius: 10px;
  border: 1px solid rgba(43, 43, 43, 0.568);
}

.landing-page-title {
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(10px);
  padding: 10%;
  border-radius: 15px;
  border: 1px solid rgba(43, 43, 43, 0.568);
}

.landing-page-content {
  /* display: flex;
  justify-content: center; */
  position: absolute;
  color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing-page-content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page-search {
  width: auto;
  height: 10%;
  border: #eeeeee solid;
  border-radius: 8px;
  padding: 10px;
  color: #555555;
}

.landing-page-search:focus {
  border: #555555 solid;
}

#search-button {
  /* margin: 100px 0; */
  padding: 10px;
  border: #ffffff solid;
  border-radius: 10px;
  background: #ffffff;
  color: black;
  text-decoration: none;
}

.searchStuff {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
}

.searchStuff button {
  border-radius: 50%;
  padding: 5%;
  height: 100%;
  border: solid white 1px;
}

@media screen and (min-width: 1100px) {
  .landing-page-bg {
    background-image: url("../img/plateLeaf.jpg");
    background-size: cover;
    width: auto;
    height: 100%;
  }
  .landing-page-title {
    background: rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(10px);
    padding: 10%;
    border-radius: 15px;
    border: 1px solid rgba(43, 43, 43, 0.568);
    color: black;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
  .landing-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .searchStuff {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
  }
  .searchStuff button {
    hidden: false;
    border-radius: 50%;
    padding: 5%;
    height: auto;
  }
  .landing-page-search {
    width: auto;
    height: auto;
    border: #eeeeee solid;
    border-radius: 8px;
    padding: 10px;
    color: #555555;
    font-size: 18px;
  }
}
