@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

body {
  font-family: "Lato", sans-serif;
}

.landing-page-bg {
  background-image: url("../img/plateLeaf.jpg");
  /* background-size: cover; */
  width: auto;
  height: 100%;
}

.landing-page-navbar {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}

.landing-page-navbar div {
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(10px);
  padding: 3%;
  border-radius: 10px;
  border: 1px solid rgba(43, 43, 43, 0.568);
}

.landing-page-title {
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(10px);
  padding: 10%;
  border-radius: 15px;
  border: 1px solid rgba(43, 43, 43, 0.568);
}

.landing-page-content {
  /* display: flex;
  justify-content: center; */
  position: absolute;
  color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-page-search {
  width: auto;
  height: 10%;
  border: #eeeeee solid;
  border-radius: 8px;
  padding: 10px;
  color: #555555;
}

.landing-page-search:focus {
  border: #555555 solid;
}

#search-button {
  /* margin: 100px 0; */
  padding: 10px;
  border: #ffffff solid;
  border-radius: 10px;
  background: #ffffff;
  color: black;
  text-decoration: none;
}
